<%- include('./partials/header.ejs');%>

    <%- include ('./partials/main_nav.ejs' );%>

<!--add survey content-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="px-4 py-4 my-4 text-center">
                <h1 class="display-5 fw-bold">Create Survey</h1>
            </div>


                <label class="fw-bold">Select Type Of Survey To Create</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeofquestion" id="SAOption" value="">
                    <label class="form-check-label" for="SAOption">
                        SA *CHANGE*
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeofquestion" id="MCOption" value="Multiple Choice">
                    <label class="form-check-label" for="MCOption">
                        Multiple Choice
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeofquestion" id="TFOption" value="True or False">
                    <label class="form-check-label" for="TFOption">
                        True or False
                    </label>
                </div><br>
               
                <button class="btn btn-primary" onclick="myFunction()"> Continue</button>
         

                <a href="/home" class="btn btn-warning"> Cancel </a>

            </form>
        </div>
    </div>
</div>

<%- include ('./partials/bottom_nav.ejs'); %>

    <%- include ('./partials/footer.ejs'); %>